html{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-image:url('../img/bg-image.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin:0;
	padding:0;
	color: #ecf0f1;;
}

#bgMenuBar{
	padding-top: 1em;
	background-image:url('../img/titlebar.png');
	background-repeat: repeat-x;
	background-size: contain;
	-webkit-box-shadow: 0px 16px 100px -7px #222;
	-moz-box-shadow:    0px 16px 100px -7px #222;
	box-shadow:         0px 16px 100px -7px #222;
}

.logo{
	margin-left: 0.67em;
	font-size: 2em;
}

#homeMenu{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

#homeMenu a{
	color: #ecf0f1;
	display:inline-block;
	text-decoration: none;
	padding-left: 0.33em;
	padding-right: 0.33em;
}

#homeMenu li{
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #00ff0c;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	margin: 0;
	display: inline;
	margin-right: 2.5em;
	margin-left: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
}

hr {
	background-color: #3c892f;
	color: #3c892f;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #3c892f;
	margin: 1em 0; padding: 0;
}

#wrapper{
	background-color: black;
	margin-top: 3em;
	margin-left:23%;
	margin-right:23%;

}

#entryBlock{
	-webkit-box-shadow: 1px 0px 30px 8px #111;
	-moz-box-shadow:    1px 0px 30px 8px #111;
	box-shadow:         1px 0px 30px 8px #111;
}

#iplog{
	text-align: left;
	padding-left: 1em;
	border-width: 1px;
	border-style: solid;
	border-color: #00ff0c;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.75em;
}

#date{
	display:inline;
	text-align:right;
	float:right;
	padding-right: 1em;
}

#title{
	font-family: 'Oswald', sans-serif;
	text-align:center;
	font-size: 2em;
}

#message{
	padding: 1em;
	border-width: 1px;
	border-style: solid;
	border-color: #00ff0c;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.86em;
}

#footer{
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.75em;
	bottom: 0;
	margin-top: 3em;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input, select, option {
    display: inline-block;
}

select {
	margin: 0;
	padding: 0;
	text-align: left;
}

label {
    width: 30%;
    margin-top: 1em;
    text-align: left
}

label + input {
    width: 30%;
    margin: 0 15% 0 0%;
}

#register {
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
    float: center;
}

#error {
	display: inline;
	float: center;
	text-align: center;
	margin: 0;
	padding: 0;
	color: red;
}

#success {
	display: inline;
	float: center;
	text-align: center;
	margin: 0;
	padding: 0;
	color: green;
}