/* Icons courtesy of: 
	http://www.iconfinder.net
	Everaldo Coelho
	Marco Martin
	Visual Pharm - http://icons8.com/
*/

*{
	margin: 0;
	padding: 0;
}

body{
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    top: 0;
	font-family: 'Oswald', sans-serif;
	width: 100%;
}

#leftColumn {
	background-image: url('../img/menubar.png');
	background-repeat: repeat-y;
	float:left;
	height: 100%;
	width: 16em;
	text-decoration: none;
}

#leftColumn ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#leftColumn li{
	font-size: 1.25em;
	margin-top: 1.5em;
	margin-left: 0.25em;
	margin-bottom: 1.5em;
}

#leftColumn a {
	color: #ecf0f1;
	font-weight: lighter;
	display:inline-block;
	text-decoration: none;
	padding-left: 0.33em;
	padding-right: 0.33em;
}

#leftColumn a:hover {
	text-decoration: underline;
}

#leftColumn a:active {
	color: #7f8c8d;
}

#leftColumn img {
	display: inline-block;
	margin: 0;
	margin-right: 1em;
}

#captcha_block{
	display: block;
    position: fixed; 
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: black;
    text-align: center;
}

#container{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top: 2px solid #8e8e8e;
	border-bottom: 2px solid #8e8e8e;
	position: fixed;
	background-image: url('../img/containerbar.png');
	background-repeat: repeat-y;
	height: 30em;
	width: 54em;
	margin-top: 7%;
	float: center;
	margin-left: 28%;
	color: #ecf0f1;
}

#container hr {
	color: #8e8e8e;
}

#header{
	font-family: 'Titillium Web', sans-serif;
	color: #ecf0f1;
	font-size: 0.75em;
}

#ipuser{
	padding-left: 1em;
}

#timedate{
	float:right;
	padding-right: 1em;
}

#title {
	margin-top: 1em;
	font-size: 2em;
	text-align: center;
}

#wrapper {
	width: 85%;
	margin-left: 4em;
	margin-top: 5%;
	margin-right: 1em;
}

#columnLeft {
	text-align: center;
	display: inline;
	float: left;
	background-image: url('../img/messagebar.png');
	background-repeat: repeat-y;
	border-top: 2px solid #8e8e8e;
	border-bottom: 2px solid #8e8e8e;
	height: 12em;
	width: 22em;
}

#columnLeft li {
	font-weight: lighter;
	display:block;
	text-decoration: none;
	padding-left: 0.33em;
	padding-right: 0.33em;
}

#columnRight {
	float: right;
	text-align: center;
	display: inline;
	background-image: url('../img/messagebar.png');
	background-repeat: repeat-y;
	border-top: 2px solid #8e8e8e;
	border-bottom: 2px solid #8e8e8e;
	height: 12em;
	width: 22em;
}

#columnRight li {
	font-weight: lighter;
	display:block;
	text-decoration: none;
	padding-left: 0.33em;
	padding-right: 0.33em;
}

.wrapperTitleLeft{
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
	font-size: 1.25em;
}

.wrapperTitleRight{
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
	font-size: 1.25em;
}

.wrapperLeftInfo a{
	color: red;
}

.wrapperLeftInfo li{
	float:left;
	margin-left: 2em;
}

.wrapperRightStats{

}

#ip {
	font-size: 0.8em;
	font-family: 'Titillium Web', sans-serif;
}

#pass {
	font-size: 0.8em;
	font-family: 'Titillium Web', sans-serif;
}